.font500 {
    font-weight: 500;
}

.p-x-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.p-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    margin-top: 20px;
    margin-bottom: 0;
}
