<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group row">
				<div class="col-md-4">
					<mat-form-field>
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"
							name="report.cussearch" [(ngModel)]='report.cussearch'>
					</mat-form-field>
				</div>

				<div class="col-md-8">
					<div class="text-right">
						<button type="button" (click)="openDialog('add','data')" class="btn btn-info">ADD</button>
					</div>
				</div>
			</div>
			<!--  <div class="form-group col-sm-12" align="right"> 
    <button (click)="exportAsXLSX();" mat-raised-button color="accent" class="mr-2" >Export Excel</button> <button mat-raised-button color="accent" (click)="openDialog('addaddCampaign','addCampaign')">Add Campaigns</button></div> -->

			<div class="mat-elevation-z8">
				<table mat-table [dataSource]="dataSource" matSort style="width:100%; position: relative; z-index: 1;">

					<!-- Checkbox Column -->
					<!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container> -->

					<!-- Serial No -->
					<ng-container matColumnDef="no">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
						<td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
					</ng-container>

					<!-- Location -->
					<ng-container matColumnDef="location">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
						<td mat-cell *matCellDef="let row"> {{row.location}} </td>
					</ng-container>

					<!-- Manager Name -->
					<ng-container matColumnDef="manager_name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Manger's Name </th>
						<td mat-cell *matCellDef="let row"> {{row.manager_name}} </td>
					</ng-container>

					<!-- Mobile no -->
					<ng-container matColumnDef="mobile">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
						<td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
					</ng-container>

					<!-- table count -->
					<ng-container matColumnDef="table_count">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Tables </th>
						<td mat-cell *matCellDef="let row"> {{ row.table_count }} </td>
					</ng-container>

					<!-- Action -->
					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
						<td mat-cell *matCellDef="let row">
							<i class="material-icons" (click)="onTableList(row)" style="cursor: pointer;">visibility</i>
							<i class="material-icons" (click)="openDialog('payment', row)"
								style="cursor: pointer;margin-left: 15px;">payment</i>
							<i class="material-icons edit-icon" (click)="openDialog('edit', row)"
								style="cursor: pointer;margin-left: 15px;">edit</i>
							<i class="material-icons delete-icon" (click)="openDialog('delete', row)"
								style="margin-left: 10px; cursor: pointer;">delete</i>

						</td>
					</ng-container>


					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
				</table>
				<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
				<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
					<mat-progress-spinner color="primary" mode="indeterminate">
					</mat-progress-spinner>
				</mat-card>

			</div>
		</div>
	</div>
</div>